<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--JAVA와 연결할 Mapper 파일 설정-->
<mapper namespace="kopo.poly.persistance.mapper.ICommunityMapper">

    <!--게시판 리스트 쿼리문-->
    <select id="getCommunityList" resultType="CommunityDTO">
        SELECT C.COMMUNITY_SEQ, C.TITLE, C.COMMUNITY_YN, C.READ_CNT,  C.USER_ID,
               DATE_FORMAT(C.REG_DT, '%Y-%m-%d') AS REG_DT
        FROM COMMUNITY C
--         WHERE C.USER_ID = U.USER_ID
        ORDER BY C.COMMUNITY_YN, C.REG_DT DESC

    </select>

    <!--게시판 등록 쿼리문-->
    <insert id="insertCommunityInfo" parameterType="CommunityDTO">
        INSERT INTO COMMUNITY
        (
            COMMUNITY_SEQ, TITLE, COMMUNITY_YN, CONTENTS, USER_ID, READ_CNT,
         REG_ID, REG_DT, CHG_ID, CHG_DT
        )
        VALUES (
                (SELECT NVL(MAX(A.COMMUNITY_SEQ),0)+1 FROM COMMUNITY A),
                #{title}, #{communityYn}, #{contents}, #{userId}, 0, #{userId}, SYSDATE(), #{userId}, SYSDATE()
               )
    </insert>

    <!--게시판 상세보기 쿼리문-->
    <select id="getCommunityInfo" resultType="CommunityDTO">
        SELECT C.COMMUNITY_SEQ, C.TITLE, C.COMMUNITY_YN, C.READ_CNT, C.USER_ID,C.CONTENTS,
               TO_CHAR(C.REG_DT, 'YYYY-MM-DD') AS REG_DT
          FROM COMMUNITY C
         WHERE
             C.USER_ID = #{userId}
           AND C.COMMUNITY_SEQ = #{communitySeq}
    </select>

    <!--조회수 증가 쿼리문-->
    <update id="updateCommunityReadCnt" parameterType="CommunityDTO">
        UPDATE COMMUNITY SET
                READ_CNT = READ_CNT + 1
        WHERE
            COMMUNITY_SEQ=#{communitySeq}
    </update>

    <!--게시판 수정 쿼리문-->
    <update id="updateCommunityInfo" parameterType="CommunityDTO">
        UPDATE COMMUNITY SET
            TITLE = #{title},
            COMMUNITY_YN = #{communityYn},
            CONTENTS = #{contents},
            CHG_ID = #{userId},
            CHG_DT = SYSDATE()
        WHERE
            COMMUNITY_SEQ = #{communitySeq}

    </update>

    <!--게시판 삭제 쿼리문-->
    <delete id="deleteCommunityInfo" parameterType="CommunityDTO">
        DELETE FROM COMMUNITY
        WHERE COMMUNITY_SEQ = #{communitySeq}
    </delete>


</mapper>